<div class="container">
  <!-- Bind Output in cockpit.component.ts to app.component.ts-->
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first Element</button>
      <!-- [serverElement] is the name of the property declared in server-element.component.ts-->
      <app-server-element 
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElement.name">
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <strong *ngIf="serverElement.type === 'bluePrint'">{{ serverElement.content }}</strong>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
