<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<hr>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add new server</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<p>{{serverCreationStatus}}</p>
<p *ngIf="serverCreated; else noServer">(Using Directive) Server is created successful with name {{serverName}}</p>
<ng-template #noServer>
  <p>No server was created</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>

<hr>
<p>Practice 1</p>
<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="userName">
<p>{{userName}}</p>
<button class="btn btn-primary" [disabled]="userName==='' || userName.trim()===''" (click)="onResetUserName()">Reset Username</button>

<hr>
<p>Practice 2</p>
<button class="btn btn-primary" (click)="onDisplayDetail()">Display Detail</button>
<div *ngIf="clickTimes">
  <p 
    *ngFor="let time of clickTimes; let i = index" 
    [ngStyle]="{backgroundColor: i >= 4 ? 'lightblue':'transparent'}"
    [ngClass]="{whiteText: i >= 4}"> Button clicked on <strong>{{ time }}</strong> by Hai Duong</p>
</div>